body

{background-color:#33EBFF;
}

h2{color:black;
	text-align:center;
		text-decoration: underline blue;
		 font-style:arial;}
	
	
		pre{color:black;} 
		h3{font-size: 20px;}
		h3{box-shadow: 10px 1px 19px grey;}
		h3{font-weight:bold;}
		
		h1{box-shadow: 10px 1px 19px grey;}
		
	.wewe{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: auto%;
    height: autopx;
    box-sizing: border-box;
}
	
	.okok{
    display: flex;
    flex-flow: column wrap;
    align-items: auto;
    justify-content: space-around;
    align-content: space-around;
    width: auto%;
    height: autopx;
    box-sizing: border-box;
}
	